*{
  box-sizing: border-box;
  font-family: sans-serif,monospace;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0rem auto;
}
.card{
  width: 20rem;
  height: 30px;
  margin: 20px auto;
}
